* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100h;
  background-color: black;
  background: linear-gradient(130.02deg, #f78965 0.66%, #dd6037 83.32%)
    no-repeat center center fixed;
  --font-1: Helvetica, Arial, sans-serif;
  font-family: var(--font-1);
}

h1,h2,h3,p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul,li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 75rem;
  padding: 0 0rem;
  margin: 0 auto;
}

@media (max-width: 870px) {
  body {
    background: black
  }
}